# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.log

# Environment files
.env
.env.local

# Data (don't upload large files to Git)
data/raw/*
data/processed/*
data/models/*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Jupyter
.ipynb_checkpoints/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep